[submodule "ros_ws/src/lidar_camera_calibration"]
	path = ros_ws/src/lidar_camera_calibration
	url = https://github.com/shangjie-li/lidar_camera_calibration.git
[submodule "ros_ws/src/lidar_camera_fusion"]
	path = ros_ws/src/lidar_camera_fusion
	url = https://github.com/shangjie-li/lidar_camera_fusion.git
[submodule "ros_ws/src/usb_cam"]
	path = ros_ws/src/usb_cam
	url = https://github.com/shangjie-li/usb_cam.git
[submodule "ros_ws/src/velodyne"]
	path = ros_ws/src/velodyne
	url = https://github.com/shangjie-li/velodyne.git
[submodule "ros_ws/src/Pandar40_ROS"]
	path = ros_ws/src/Pandar40_ROS
	url = https://github.com/shangjie-li/Pandar40_ROS.git
